<footer class="footer">
  <small>
    <%= t ".the" %> 
    <%= link_to t("layouts._footer.name_2"), t("layouts._footer.url_2")%>
    <%= link_to t("layouts._footer.name_3"), t("layouts._footer.url_3")%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts._footer.about_1"), about_path %></li>
      <li><%= link_to t("layouts._footer.contact_1"), contact_path %></li>
      <li><%= link_to t("layouts._footer.name_1"), t("layouts._footer.url_1") %></li>
    </ul>
  </nav>
</footer>
